<div class="container">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="jumbotron">
      <h2>Jim will be gone in:</h2>
      <h1>{{countdown}}</h1>
    </div>
  </div>
</div>
<div>
{{outlet}}
</div>
</div>
