<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<h2>Solve the following javascript problems to get some contact info</h2>
<p>Some notes:
<ol>
<li>The last line evaluated is considered your output</li>
<li>Reset will remove your code, and return to the start</li>
<li>Output will be compared exactly to what's expected</li>
</ol>
</p>
</div>
</div>
{{#each test in controller}}
  {{editor-cmp test=test}}
{{/each}}
